mockserver/mockserver-core/src/test/resources/org/mockserver/validator/xmlschema/embedded.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="embedded" type="EmbeddedType"/>

    <xs:complexType name="EmbeddedType">
        <xs:sequence>
            <xs:element name="numeric" type="xs:int"/>
            <xs:element name="embedded" type="EmbeddedType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>