mockserver/mockserver-netty/src/test/resources/org/mockserver/model/testXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Wed Jun 28 2017 21:52:45 GMT+0100 (BST) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="notes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="note" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="to" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="from" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="heading" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="body" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>